In [1]:
# Dependencies
import pandas as pd
import datetime

In [2]:
flu_data = "flu_ca_csv.csv"

In [3]:
flu_data_df = pd.read_csv(flu_data)

In [4]:
flu_data_df.head()

,REGION TYPE,REGION,YEAR,WEEK,TOTAL SPECIMENS,TOTAL A,TOTAL B,PERCENT POSITIVE,PERCENT A,PERCENT B
0,States,California,2019,40,1776,18,10,1.58,1.01,0.56
1,States,California,2019,41,1887,26,11,1.96,1.38,0.58
2,States,California,2019,42,1995,27,14,2.06,1.35,0.70
3,States,California,2019,43,1964,24,33,2.90,1.22,1.68
4,States,California,2019,44,2061,44,56,4.85,2.13,2.72

In [5]:
flu_data_df["Flu Cases"] = flu_data_df["TOTAL SPECIMENS"]* flu_data_df["PERCENT POSITIVE"] /100

In [6]:
flu_data_df.head()

,REGION TYPE,REGION,YEAR,WEEK,TOTAL SPECIMENS,TOTAL A,TOTAL B,PERCENT POSITIVE,PERCENT A,PERCENT B,Flu Cases
0,States,California,2019,40,1776,18,10,1.58,1.01,0.56,28.0608
1,States,California,2019,41,1887,26,11,1.96,1.38,0.58,36.9852
2,States,California,2019,42,1995,27,14,2.06,1.35,0.70,41.0970
3,States,California,2019,43,1964,24,33,2.90,1.22,1.68,56.9560
4,States,California,2019,44,2061,44,56,4.85,2.13,2.72,99.9585

In [9]:
flu_data_df["State"]= flu_data_df["REGION"]

In [24]:
cleaned_flu_data_df = flu_data_df(['State','Year','Week', 'Flue Cases']).copy()
cleaned_flu_data_df.head()

TypeError: 'DataFrame' object is not callable